/* =========================
    BASE GAMER DARK
========================= */
body {
    background: radial-gradient(circle at top, #0b1430 0%, #070b1a 60%);
    color: #e5e7eb;
}

i,
svg,
.icon,
[class*="icon"] {
    color: transparent;

    background: linear-gradient(135deg, #3b82f6, #a855f7);
    -webkit-background-clip: text;
    background-clip: text;

    text-shadow:
        0 0 8px rgba(59,130,246,0.35),
        0 0 14px rgba(168,85,247,0.25);

    transition: all 0.2s ease;
}

body.home .user-bar {
    align-items: center;
    background-color: #0B1421;
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 5;
}

body.logged .main-header {
    top: 60px;
}
.details-btn {
    align-items: center;
    background: rgba(59, 130, 246, 0.08);
    border: 1px solid rgba(168, 85, 247, 0.25);
    border-radius: 12px;
    color: #a855f7;
    display: flex;
    height: 42px;
    justify-content: center;
    text-decoration: none;
    transition: 0.3s ease;
    width: 42px;
}

.details-btn:hover {
    background: rgba(168, 85, 247, 0.15);
    border-color: #a855f7;
    box-shadow:
        0 0 8px rgba(168, 85, 247, 0.6),
        0 0 20px rgba(168, 85, 247, 0.4),
        0 0 35px rgba(59, 130, 246, 0.25);
    color: #fff;
    transform: translateY(-2px);
}

.details-btn i {
    transition: 0.3s ease;
}

.details-btn:hover i {
    filter: drop-shadow(0 0 6px #a855f7);
}

.game-detail-description-text,
.game-detail-description-text p,
.game-detail-description-text span,
.game-detail-description-text div,
.game-detail-description-text strong,
.game-detail-description-text em,
.game-detail-description-text b,
.game-detail-description-text i {
    color: #FFFFFF !important;
}