.title {
    font-weight: bold;
    text-transform: uppercase;
}

.title__white {
    color: #d5d5d5;
}

.title__divisor {
    border-top: 3px solid #d2a932;
    width: 85px;
    margin: 0 auto;
    margin-bottom: 80px;
}